.App {
  text-align: center;
  #quote-box{
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    color: black;
    max-width: 30%;

    #author{
      text-align: end;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      min-height: 50%;
      
      #tweet-quote {
        color: #282c34;
        display: flex;
        padding: 10px;
        align-self: center;
        justify-content: center;
        :hover {
          background-color: black;
        }
      }  
      #new-quote{
        border-radius: 10px;
        padding: 10px;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
}

